.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 25px;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.panel {
  position: absolute;
  top: 86px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 25px;
}

.page.is-visible {
  opacity: 1;
}

small.version {
  position: absolute;
  bottom: 15px;
  right: 15px;
}